@tailwind base;
@tailwind components;
@tailwind utilities;


.posts::-webkit-scrollbar {
  display: none;
}
.posts {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}